{% extends "Bases/base.html" %}
{% load static %}

{% block tittle %}Loto de Fuego{% endblock tittle %}

{% block extra %}

<link rel="stylesheet" href="{% static "css/side-bar.css" %}">

<style media="screen">
  @media (min-width: 1200px){
    .container {
      max-width: 100% !important;
    }
  }
</style>

{% endblock extra %}
{% block content %}


<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Lotería de Fuego</h3>
        </div>

        <ul class="list-unstyled components">
            <p></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Inicio</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a href="#">Mis Boletos</a></li>
                    <li><a href="#">Ganadores</a></li>
                    <li><a href="#">Ayuda</a></li>
                    <li><a href="#">Para Inversores</a></li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Comunidad</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">Telegram</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Twitter</a></li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Cooperación</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a href="#">ejemplo@example.com</a></li>
                </ul>
            </li>
            <li>
              <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Soperte</a>
              <ul class="collapse list-unstyled" id="pageSubmenu">
                  <li><a href="#">soporte@example.com</a></li>
              </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content Holder -->
    <div class="container">
        <div id="content">
          <div class="row">
            <div class="col-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="navbar-btn">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                            <li><a href="#">Page</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="http://sm.ign.com/ign_es/news/z/zelda-brea/zelda-breath-of-wild-wii-u-version-seemingly-leaks-online_zv7t.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://sm.ign.com/ign_es/news/z/zelda-brea/zelda-breath-of-wild-wii-u-version-seemingly-leaks-online_zv7t.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="http://sm.ign.com/ign_es/news/z/zelda-brea/zelda-breath-of-wild-wii-u-version-seemingly-leaks-online_zv7t.jpg" alt="Third slide">
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


{% endblock content %}
{% block jsextra %}
<script type="text/javascript" src="{% static "scripts/jquery.tinycircleslider.js" %}"></script>
<script type="text/javascript">

  $('.carousel').carousel();

  $(document).ready(function () {
      $('#sidebarCollapse').on('click', function () {
          $('#sidebar').toggleClass('active');
          $(this).toggleClass('active');
      });
  });
</script>
{% endblock jsextra %}
